{% extends "base.html" %}
{% block title %}Weekly for Week {{ week }} of {{ year }}{% endblock %}

{% block next_prev %}
<a href="{{Post.prev_week(year=year, week=week)}}" class="btn btn-sm btn-primary">Last Week</a>
<a href="{{Post.next_week(year=year, week=week)}}" class="btn btn-sm btn-primary">Next Week</a>
{% endblock %}

{% block content %}
<h2>{{human}} ({{ year }}, Week {{ week }})<br><small>{{subtitle}}</h2>
{{ self.next_prev() }}
<br><br>

{% for teamname, posts in teams.items() %}
  <h2>{{teamname}}</h2>
  {% for exists, vals in posts %}
    {% if exists %}
      {% set post = vals %}
      {% include 'post_block.html' %}
    {% else %}
    <h3>{{vals.name}} ({{ vals.username }})</h3>
    <div class="well">
      <p>No weekly</p>
    </div>
    {% endif %}
  {% endfor %}
{% endfor %}
<br><br>
<br><br>
{{ self.next_prev() }}
{% endblock %}
