<h3>Instructions</h3>
<div class="well well-sm">
  <p>Text for your weekly or comment will be rendered using something called the Markdown
  markup language.  To view a preview before posting you can click the Eye icon
  in the lower right hand corner of the editor. It only appears on hover.</p>
  <b>Exmaples</b>
  <pre>
This will show a bulleted list:

- Item 1
- Item 2
- Item 3</pre>

  <pre>
This will make a link to a webpage:

[here]( http://google.com )</pre>

<br />
<a href="http://stackoverflow.com/editing-help"><h4><b>Markdown Editing Help</b></h4></a>
</div>
